<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="pics/logo (2).png" type="image/x-icon">
    <link href="css/forget.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>StreamHub</title>
</head>
<body>
    <a class="logo"><img src="pics/logo.png"/></a>
    <div class="login">
      <h1 class="login__title">Reset Password</h1><br>
      <br>
      <p>Please use strong password</p>
      <div class="login__group">
        <input class="login__group__input" id="password" type="password" required="true"/>
        <label class="login__group__label">Password</label>
      </div>

      <div class="login__group">
        <input class="login__group__input" id="confirm-password" type="password" required="true"/>
        <label class="login__group__label">Confirm-Password</label>
      </div>
      <button class="login__sign-in" type="button" onclick="">Reset Password</button>
    </div>
</body>
<!-- <script src="js/login.js"></script> -->
</html>